 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row" align="center">
                <p>I'm a maker of things. I enjoy working with hardware and software, creating widgets that interact with each other. Currently developing a password-less authentication platform.</p>
                <p>I hope to contribute through the use of technology, making the world a safer and better place to live in.</p>
                <p><b>Experience:</b> Engineering Architect, Consultant, Problem Solver</p>
                <h3><b>Patent:</b> <a class="label" href="http://www.google.com/patents/WO1998021640A1?cl=en">WO 1998021640 A1</a></h3>
                <br>
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Check out some of my widgets in the <a class="label" href="#projects">PROJECTS</a> section.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently based in Singapore. Please feel free to <a class="label" href="mailto:vincent@ooi.cc">say hi</a> or check out my various projects.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.wifienabler.com" class="btn btn-lg btn-outline">
                        <i class="fa"></i> Go to WifiEnabler
                    </a>
                </div>
            </div>
        </div>
    </section>
