 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Vincent</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! my name is Vincent. Over the span of my career, I've been exposed to a few tech domains, namely, IOT, Cyber Security, WIFI and RF connectivity, IT Management. My hobby is home automation and I enjoy building my own widgets and deploying them around the house, a continuous work in progress that occupies my free time. Check out some of my widgets in the <a class="label" href="#projects">PROJECTS</a> section.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently based in Singapore. Please feel free to <a class="label" href="mailto:vincent@ooi.cc">say hi</a> or check out my various projects.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.wifienabler.com" class="btn btn-lg btn-outline">
                        <i class="fa"></i> Go to WifiEnabler
                    </a>
                </div>
            </div>
        </div>
    </section>